---
import { ArrowRight } from 'lucide-astro'
import Button from '../components/Button.astro'
import Circles from '../components/Circles.astro'
import Description from '../components/Description.astro'
import Title from '../components/Title.astro'

import { icon, library } from '@fortawesome/fontawesome-svg-core'
import { faFacebook, faWhatsapp, faTelegram } from '@fortawesome/free-brands-svg-icons'

library.add(faFacebook, faWhatsapp, faTelegram)
const Facebook = icon({ prefix: 'fab', iconName: 'facebook' })
const Whatsapp = icon({ prefix: 'fab', iconName: 'whatsapp' })
const Telegram = icon({ prefix: 'fab', iconName: 'telegram' })
---

<footer
  id="footer"
  class="relative flex w-full flex-col gap-24 overflow-hidden border-t border-dark bg-dark px-4 py-12 !pb-0 text-paper md:gap-[15%] lg:p-24"
>
  <div class="flex w-full flex-col items-center justify-between lg:flex-row">
    <div>
      <Title class="!text-paper">Less Summer</Title>
      <Description class="px-4 lg:w-2/5 lg:px-0">
        Percayakan pengelolaan perpajakan perusahaan Anda kepada kami untuk mendapatkan solusi yang efisien, akurat, dan
        sesuai dengan ketentuan yang berlaku.
      </Description>
    </div>
  </div>
  <div class="flex w-full md:w-2/3 flex-col justify-between gap-6 lg:my-12 lg:flex-row lg:pr-52">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-2">
        <Description class="!font-semibold"> Follow Us </Description>
        <div class="items-centerxxx flex flex-col gap-2 opacity-80">
          <a
            href="https://t.me/lesssummerupdate"
            target="_blank"
            class="font-normal"
            aria-label="Kunjungi channel telegram Less Summer Update Info Perpajakan"
          >
            <Fragment set:html={Telegram.html} /> Channel Update
          </a>
          <a
            href="https://t.me/diskusipajak"
            target="_blank"
            class="font-normal"
            aria-label="Kunjungi grup diskusi pajak"
          >
            <Fragment set:html={Telegram.html} /> Grup Diskusi Pajak
          </a>
          <a
            href="https://t.me/diskusiperpajakan"
            target="_blank"
            class="font-normal"
            aria-label="Kunjungi grup diskusi pajak khusus aplikasi"
          >
            <Fragment set:html={Telegram.html} /> Grup Diskusi Coretax
          </a>
          <a
            href="https://www.facebook.com/diskusipajak"
            target="_blank"
            class="font-normal"
            aria-label="Facebook Halaman Diskusi Pajak"
          >
            <Fragment set:html={Facebook.html} /> FB Pages
          </a>
          <a
            href="https://www.facebook.com/groups/diskusipajak"
            target="_blank"
            class="font-normal"
            aria-label="Facebook Grup Diskusi Pajak"
          >
            <Fragment set:html={Facebook.html} /> FB Grup
          </a>
          <a
            href="https://whatsapp.com/channel/0029VaxOUaWDeONB1JaDXr3m"
            target="_blank"
            class="font-normal"
            aria-label="Whatsapp Broadcast Diskusi Pajak"
          >
            <Fragment set:html={Whatsapp.html} /> WA Channel
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-2">
        <Description class="!font-semibold"> Get Started </Description>
        <div class="flex flex-col opacity-80">
          <a href="/download" class="font-normal">SPT Tahunan</a>
          <a href="/mods" class="font-normal">Konsultasi UMKM</a>
          <a href="/release-notes" class="font-normal">Dokumentasi Pajak</a>
        </div>
      </div>

      <div class="flex hidden flex-col gap-2">
        <Description class="!font-semibold"> About Us </Description>
        <div class="flex flex-col opacity-80">
          <a href="/about" class="font-normal">About Us</a>
          <a href="/privacy-policy" class="font-normal">Privacy Policy</a>
        </div>
      </div>
    </div>
    {
      /*
    <div class="flex flex-col gap-2">
      <Description class="!font-semibold"> Get Help </Description>
      <div class="flex flex-col opacity-80">
        <a href="https://discord.gg/zen-browser" class="font-normal">Discord</a>
        <div class="flex items-center">
          <div class="absolute">
            <img
              src="https://uptime.zen-browser.app/embed-badges/pulse?"
              loading="lazy"
              alt="Phare badge"
              class="relative right-5 h-5 w-5 lg:right-6"
            />
          </div>
          <a href="https://uptime.zen-browser.app/" class="font-normal"
            >Uptime Status</a
          >
        </div>
        <a
          href="https://github.com/zen-browser/desktop/issues/new/choose"
          class="font-normal">Report an Issue</a
        >
      </div>
    </div>
     */
    }
  </div>
  <div class="flex h-32 w-full items-center">
    <div class="flex">
      Made with ❤️ by the <a href="/about" class="ml-2 inline-block font-bold">Less Summer</a>
    </div>
    <!-- <Logos class="size-[8rem] mb-[-100px] ml-auto mr-[-80px] hidden lg:block"/> -->
    {/* */}
    <Circles white multiplier={0.7} class="mb-[-100px] ml-auto mr-[-80px] hidden size-[8rem] lg:block" />

    <!--
<Circles
class="absolute mb-[-100px] ml-auto xmr-[-80px] hidden -translate-x-1/2 -translate-y-1/2"
/>
  </div>
</footer> -->
  </div>
</footer>
